<div class="modal fade" id="readingModal" tabindex="-1" role="dialog" aria-labelledby="readingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="readingModalLabel">Add Reading</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <%= form_tag "#", class: 'form-signin', id: 'frm-createGL' do %>
        <%= hidden_field_tag 'glucose_level[user_id]', current_user.id %>
        <div class="modal-body">
          <div class="alert alert-info" role="alert" style="display: none;"></div>
          <div class="field input-group">
            <%= number_field_tag 'glucose_level[reading]', nil, autofocus: true, placeholder: 'reading', class: 'form-control' %>
            <span class="input-group-addon">mg/dl</span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="actions">
            <%= submit_tag "Save" , class: 'btn btn-sm btn-primary btn-block', id: "btn-save-reading" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>